<div class="row">
  <div class="card col-md-6 mx-md-auto mt-5 p-4">
    <form [formGroup]="diagnosesForm" data-toggle="validator" role="form" class="form-inline">
        <div class="form-group row mb-4">
            <div class="col-auto">
                <label class="col-form-label fw-bold fs-5">Дата:</label>
            </div>
            <div class="col-xs-12 col-12 col-md-4 my-auto">
                <input
                    formControlName="selectedDate"
                    type="text"
                    placeholder="Datepicker"
                    class="form-control"
                    [minDate]="minDate"
                    bsDatepicker
                >
            </div>
            <div *ngIf="hasError && diagnosesForm.invalid" class="fw-light text-danger">* Оберить дату</div>
        </div>

        <div class="form-group row">
            <label class="form-label fw-bold fs-5">Діагнози за ICPC-2</label>
           <div formArrayName="diagnosis" *ngFor="let item of diagnosisControl; let i = index;" [@fadeIn]="showFields[i]">
                <div [formGroupName]="i" class="row">
                        <div class="col-xs-12 col-12 col-md-6 mt-3">
                              <select formControlName="select" class="form-select" aria-label="Default select example">
                                <option [value]="opt.code" *ngFor="let opt of diagnosesIcpc2List; trackBy: trackByFn">
                                    {{opt.code}} {{opt.name}}
                                </option>
                              </select>
                        </div>
                        <div class="col-xs-12 col-12 col-md-6 mt-3">
                              <input formControlName="note" type="text" placeholder="коментар" class="form-control">
                        </div>
                </div>
            </div>

        </div>
        <div class="form-group mb-3">
            <button (click)="addFormGroup()" type="type" class="btn link-primary px-0">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus"
                  viewBox="0 0 16 16">
                  <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z" />
                </svg>додати ще
          </button>
        </div>
        <div class="form-group d-grid mb-3">
            <button (click)="generateJson()" type="button" class="btn btn-outline-primary btn-lg">Сформувати JSON</button>
        </div>
        <div class="form-group">
            <label for="jsontext" class="form-label fw-bold">JSON:</label>
            <textarea class="form-control" id="jsontext" rows="4">{{json | json}}</textarea>
        </div>
    </form>
  </div>
</div>

